* {
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}

body {
    width: 90%;
    height: 90vh;
    margin: auto;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 2%;
    height: 100%;
    grid-gap: 5px;
}

.header {
    grid-column: 1/3;
    background-color: burlywood;
}

.side {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: silver;
}

.main {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: wheat;
}

.footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: olivedrab;
}

