@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&display=swap');

/* New/Updated List */
/*
1. font-family: Arial,Helmet,Freesans,sans-serif;
2. font-family: 'Arial Narrow','Nimbus Sans L',sans-serif;
3. font-family: 'Bookman Old Style',Bookman,'URW Bookman L',serif;
4. font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;
5. font-family: 'Comic Sans MS',cursive;
6. font-family: 'Courier New',Courier,Freemono,'Nimbus Mono L',monospace;
7. font-family: Constantina,Georgia,'Nimbus Roman No9 L',serif;
8. font-family: Consolas,'Lucida Console','Bitstream VeraSans Mono','DejaVu Sans Mono',monospace;
9. font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
10. font-family: Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
11. font-family: symbol,'Standard Symbols L';
12. font-family: Cambria,'Times New Roman','Nimbus Roman No9 L','Freeserif',Times,serif;
13. font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
14. font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
*/
/* Traditional List */
/*
15. font-family: Arial, Helvetica, sans-serif;
16. font-family: 'Arial Black', Gadget, sans-serif;
17. font-family: 'Bookman Old Style', serif;
18. font-family: 'Comic Sans MS', cursive;
19. font-family: 'Courier New', Courier, monospace;
20. font-family: Garamond, serif;
21. font-family: Georgia, serif;
22. font-family: Impact, Charcoal, sans-serif;
23. font-family: 'Lucida Console', Monaco, monospace;
24. font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
25. font-family: 'MS Sans Serif', Geneva, sans-serif; 
26. font-family: 'MS Serif', 'New York', serif; 
27. font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
28. font-family: Symbol, sans-serif;
29. font-family: Tahoma, Geneva, sans-serif;
30. font-family: 'Times New Roman', Times, serif;
31. font-family: 'Trebuchet MS', Helvetica, sans-serif;
32. font-family: Verdana, Geneva, sans-serif;
33. font-family: Webdings, sans-serif;
34. font-family: Wingdings, 'Zapf Dingbats', sans-serif;
*/

body {
  background-color: #EEE8CD;
}

h1 {
  text-align: center;
  border: dashed 1px red;
}

h2 {
  margin-left: 20%;
  line-height: 2;
  border: dashed 1px red;
}

h3 {
  text-decoration: underline;
}

footer {
  text-align: center;
  text-decoration: none;
  background-color: 6495ED;
  padding: 2px;
  color: #000000;
  font-size: 20;
}

.footerlink {
  text-decoration: none;
  color: #4169e1;
  font-size: 28;
}

.accessory {
  height: 6px;
  background-image: radial-gradient(closest-side,
      hsla(0, 0%, 50%, 1.0),
      hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}

.flex-container {
  display: flex;
  margin: 3px;
}

p {
  border: 1px solid #458B00;
  width: 40%;
  padding: 2px;
  margin-left: 15px;
  text-align: center;
  background-color: #F5F5F5;
  font-size: 18;
}

#line-1 {
  font-family: Arial, Helmet, Freesans, sans-serif;
}

#line-2 {
  font-family: 'Arial Narrow', 'Nimbus Sans L', sans-serif;
}

#line-3 {
  font-family: 'Bookman Old Style', Bookman, 'URW Bookman L', serif;
}

#line-4 {
  font-family: 'Century Gothic', Futura, 'URW Gothic L', sans-serif;
}

#line-5 {
  font-family: 'Comic Sans MS', cursive;
}

#line-6 {
  font-family: 'Courier New', Courier, Freemono, 'Nimbus Mono L', monospace;
}

#line-7 {
  font-family: Constantina, Georgia, 'Nimbus Roman No9 L', serif;
}

#line-8 {
  font-family: Consolas, 'Lucida Console', 'Bitstream VeraSans Mono', 'DejaVu Sans Mono', monospace;
}

#line-9 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
}

#line-10 {
  font-family: Cambria, 'Palatino Linotype', 'Book Antiqua', 'URW Palladio L', serif;
}

#line-11 {
  font-family: symbol, 'Standard Symbols L';
}

#line-12 {
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
}

#line-13 {
  font-family: Verdana, Geneva, 'Bitstream Vera Sans', 'DejaVu Sans', sans-serif;
}

#line-14 {
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

#line-15 {
  font-family: Arial, Helvetica, sans-serif;
}

#line-16 {
  font-family: 'Arial Black', Gadget, sans-serif;
}

#line-17 {
  font-family: 'Bookman Old Style', serif;
}

#line-18 {
  font-family: 'Comic Sans MS', cursive;
}

#line-19 {
  font-family: 'Courier New', Courier, monospace;
}

#line-20 {
  font-family: Garamond, serif;
}

/* break */
#line-21 {
  font-family: Georgia, serif;
}

#line-22 {
  font-family: Impact, Charcoal, sans-serif;
}

#line-23 {
  font-family: 'Lucida Console', Monaco, monospace;
}

#line-24 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

#line-25 {
  font-family: 'MS Sans Serif', Geneva, sans-serif;
}

#line-26 {
  font-family: 'MS Serif', 'New York', serif;
}

#line-27 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#line-28 {
  font-family: Symbol, sans-serif;
}

#line-29 {
  font-family: Tahoma, Geneva, sans-serif;
}

#line-30 {
  font-family: 'Times New Roman', Times, serif;
}

#line-31 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

#line-32 {
  font-family: Verdana, Geneva, sans-serif;
}

#line-33 {
  font-family: Webdings, sans-serif;
}

#line-34 {
  font-family: Wingdings, 'Zapf Dingbats', sans-serif;
}

#line-35 {
font-family: 'Playpen Sans', cursive;
}